html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 85% Arial, Helvetica, sans-serif;
  background: #607D8B url(../homepage/images/background67.jpg) repeat;
  color: #000;
  margin-top: 50px
}

img
{ border: 0;}

a
{ color: #FFF;
  font-weight: bold;
  background: transparent;
  outline: none;
  text-decoration: none;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

#main, #header, #banner, #menubar, #site_content, #footer, #content_bottom
{ margin-left: auto; 
  margin-right: auto;}

#main
{ background: transparent;}

#menubar
{ width: 960px;
  height: 50px;
  text-align: center; 
  margin: 0 auto;
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -webkit-border: 15px 15px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
} 

ul#menu
{ margin:0;
  margin: 0 0 0 20px;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  height: 24px;
  text-shadow: 0px -1px 0px #000;
  padding: 16px 20px 10px 20px;
  background: transparent; } 

ul#menu li.current a
{ color: #FFF;
  background: #323232;
  text-shadow: none;}

ul#menu li:hover a
{ color: #FFF;
  background: #323232;
  text-shadow: none;}

#site_content
{ width: 940px;
  padding-left: 20px;
  overflow: hidden;
  margin: 0 auto;
  background: #323232;
  border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border: 0px 0px 15px 15px;} 

.sidebar_container
{ float: left;
  margin: 10px 20px 0 0;
  width: 120px;
  padding: 0;}

.sidebar
{ float: left;
  width: 250px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% Arial, Helvetica, sans-serif;
  width: 140px;}

.sidebar h2
{ padding: 5px 0 0 10px;
  font: normal 140% Arial, Helvetica, sans-serif;
  height: 30px;
  text-shadow: 0px -1px 0px #000;
  color: #fff;
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}  

#content
{ width: 740px;
  margin-bottom: 20px;
  float: left;}

#psdgraphics-com-table {
    margin:25px;
    padding: 0px;
    width: 100%;
    font: 11px Arial, Helvetica, sans-serif;
    color:#747474;
    background-color:#0c2a62;
}


#psdg-header {
    margin:0;
    padding:0;
    width: 100%;
    height: 55px;
    color:light-blue;
    font-size:13px;
    background: #e4ebf8 url(../images/center-blue.png) repeat-y left top;
}

.psdg-button {
    padding: 5px 20px 5px 20px; 
    font-size: 16px; 
    color: black;
    border-radius: 6px; 
    border:2px solid lightskyblue
}

.psdg-button1 {
    margin-top:4px;
    padding: 0px 10px 0px 10px; 
    width: 23%;
    font-size: 12px; 
    color: black;
    border-radius: 3px; 
    border:2px solid lightskyblue
}

.psdg-button2 {
    margin-top:4px;
    padding: 0px 10px 0px 10px; 
    width: 22%;
    font-size: 12px; 
    color: black;
    border-radius: 3px; 
    border:2px solid lightskyblue
}

.psdg-bold {
    font: bold 22px Arial, Helvetica, sans-serif;

}

#psdg-top {
    margin:0;
    padding: 0;
    width: 100%;
    height: 32px;
    border-top: 2px solid #FFF;
    background: #eff4ff url(../images/top-light-blue.png) repeat-x left top;	
}

.psdg-top-cell {
    float:left;
    padding: 0;
    text-align:center;
    height: 31px;
    text-align: center;
    border-right: 1px solid #ced9ec;
    color:#1f3d71;
    font: 13px Arial, Helvetica, sans-serif;
}

#psdg-middle {
    margin:0;
    padding: 0;
    width: 100%;
    background: #f6f6f6 url(../images/center-bcg.png) repeat-y right top;	
}

.psdg-left {
    clear:both;
    float:left;
    margin:0;
    padding: 0;
    text-align: center;
    height: 25px;
    border-right: 1px solid #ced9ec;
    border-bottom: 1px solid #b3c1db;
    color:#1f3d71;
    font: 13px Arial, Helvetica, sans-serif;
    background: #e4ebf8 url(../images/center-blue.png) repeat-y left top;
}



.psdg-right {
    float:left;
    margin:0;
    padding: 0;
    text-align:center;
    height: 24px;
    border-right: 1px solid #ced9ec;
    border-bottom: 1px solid #b3c1db;
    background: #e4ebf8 url(../images/center-blue.png) repeat-y left top;

}

#psdg-bottom {
    clear:both;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 32px;
    border-top: 2px solid #FFF;
    background: #e4e3e3 url(../images/bottom-line.png) repeat-x left top;	
}


.psdg-bottom-cell {
    float:left;
    padding: 0;
    text-align:center;
    height: 30px;
    border-right: 1px solid #ced9ec;
    color:#070707;
    font: 13px Arial, Helvetica, sans-serif;
}



#psdg-footer {
    font-size: 10px;
    color:#8a8a8a;
    margin:0;
    padding: 8px 0 8px 12px;
    width: 566px;
    background: #f6f6f6 url(../images/center-bcg.png) repeat-y right top;	
}

#bground {
    width: 500px;
    margin-bottom: 20px;
    padding-right: 150px;
    float: right;
    text-align: center;
    font: 11px Arial, Helvetica, sans-serif;
    color:#747474;
    margin-top: 15px; 
}


#bground-header {
    margin-top: 25px;

    padding:0;
    width: 500px;
    align-content: center;
    height: 65px;
    color:light-blue;
    font-size:13px;
    background: #e4ebf8 url(../images/center-blue.png) repeat-y left top;
}

#bground-middle {
    margin:0;
    padding: 0;
    width: 100%;
    background: #f6f6f6 url(../images/center-bcg.png) repeat-y right top;	
}

.bground-button {
    padding: 5px 20px 5px 20px; 
    font-size: 16px; 
    color: black;
    border-radius: 6px; 
    border:2px solid lightskyblue
}

#status-area .flash_message {
    padding: 5px;
    color: green;
}