{# empty Twig template #}
{% extends "en/master.html.twig" %}

{% block title %} File delete {% endblock %}

{% block content %}
    <div id="bground" class="">
        <div id="bground-header">
            <a style="font-size: 20px; color: black; font-weight: bold">Delete</a><br>
            <a href="/en/list" class="bground-button" style="float:right; margin-right: 20px; margin-top: 0px">
                File List
            </a>
        </div>
        <div id="bground-middle">
            {% if errorList %}
                <ul class="errorList" style="font-size: 15px; color: red; text-align: left">
                    {% for error in errorList %}
                        <li> {{ error }} </li>
                        {% endfor %}
                </ul>
            {% endif %}
            <br>
            <p style="font-size: 15px"> Are you sure you want to delete this file?</p>
            <form style="display: inline-block" action="/list" style="font-size: 15px; text-align: center">
                <input type="submit" value="Cancel" style="font-size: 15px"></form>
            <form style="display: inline-block" method="post" style="font-size: 15px; text-align: center">
                <input type="hidden" name="delete" value="confirmed" style="font-size: 15px"><br><br>
                <input type="submit" value="Yes, delete" style="font-size: 15px">
            </form><br><br>
            <p style="font-size: 15px">
                {{f.filename}} / size(KB) : {{f.size}} / modified at {{f.modifiedDate}}
            </p>
            <br>
        </div>
    </div>

{% endblock %}