{# WARNING: this template is for an email, not an HTML page #}
<html>
    <body>
        <h1>Password reset request</h1>
        <p>Hello,</p><br>
        <p>You have requested a password reset.</p>
        <p>Click on <a href="{{url}}">this link</a> to reset your password
            or paste the following URL into a web brower.</p>
        <p>{{url}}</p>
    </body>
</html>
