<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login Successful</title>
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="../../frontpage/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
 
    </head>

    <body>
        <div class="container" style="width:30%; margin:auto">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text">
                    <div class="form-box">
                        <div class="form-top"  style="border-radius: 4px; border:2px solid lightskyblue">
                            <h1 style="text-align:center; font-weight: bold; color: lightskyblue" >Login Successful</h1>
                            <div>
                                <h3 style="text-align:center; color: lightskyblue">You can</h3>
                                <a href="/en/logout" style="float:left; padding: 5px 20px; font-size: 16px; border-radius: 4px; border:2px solid lightskyblue">
                                    Logout
                                </a>
                                <a href="/en/list" style="float:right; padding:5px 20px; font-size: 16px; border-radius: 4px; border:2px solid lightskyblue">
                                    Main Page
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

