{% extends "en/page.html.twig" %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <h1>Password reset - email sent</h1>

    <p>Email with password reset code has been sent.
        Please allow the email a few minutes to arrive.
        <a href="/">Click here to continue</a></p>

{% endblock %}
