{# empty Twig template #}
{% extends "en/page.html.twig" %}

{% block title %} User registration {% endblock %}

{% block headExtra %}

{% endblock %}

{% block content %}
    <div style="width: auto; margin: auto; margin-top: 20px; background-color: blue; border-radius: 10px">
        {% if errorList %}
            <ul class="errorList" style="color:red; font-size: 20px; font-weight: bold">
                {% for error in errorList %}
                    <li> {{ error }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>


    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text">
                        <h1 style="font-weight: bold; color: lightskyblue">
                            Register Form
                        </h1>
                    </div>
                </div>

                <div class="col-sm-6 col-sm-offset-3 text">

                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Sign up now</h3>
                                <p>Fill in the form below to get instant access:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form role="form" method="post" class="registration-form">
                                <div class="form-group">
                                    <label class="sr-only" for="form-first-name">User name</label>
                                    <input type="text" name="name" placeholder="User name..." class="form-first-name form-control" id="form-first-name">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-email">Email</label>
                                    <input type="email" name="email" style="height: 50px; font-size: 16px; padding-left: 22px" placeholder="Email..." class="form-email form-control" id="form-email">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-email">Password</label>
                                    <input type="password" name="pass1" placeholder="Password..." class="form-email form-control" id="form-email">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-email">Confirm Password</label>
                                    <input type="password" name="pass2" placeholder="Confirm Password..." class="form-email form-control" id="form-email">
                                </div>
                                <input type="submit" class="btn" style="height: 50px; width: 490px; margin: auto; font-size: 20px; background-color: lightskyblue" value="Sign me up!">
                            </form>
                        </div>
                    </div>

                    <div class="social-login">
                        <h3>Already a member? </h3>
                        <div class="social-login-buttons">
                            <a href="/en/login" style="text-align:center; padding: 10px 20px; font-size: 16px; border-radius: 4px; border:2px solid lightskyblue">
                                Go and Login
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}