{# empty Twig template #}
{% extends "en/master.html.twig" %}

{% block title %} File rename {% endblock %}

{% block content %}

    <div id="bground" class="">
        <div id="bground-header">
            <a style="font-size: 20px; color: black; font-weight: bold">Rename</a><br>
            <a href="/en/list" class="bground-button" style="float:right; margin-right: 20px; margin-top: 0px">
                File List
            </a>
        </div>
        <div id="bground-middle" style="font-size: 15px; text-align: center">
            {% if errorList %}
                <ul class="errorList" style="color: red; text-align: left">
                    {% for error in errorList %}
                        <li> {{ error }} </li>
                        {% endfor %}
                </ul>
            {% endif %}
            <br>
            <form method="post">
                File Name: <input type="text" name="filename" value="{{f.filename}}"><br><br>
                <input type="submit" value="Rename File" style="font-size: 15px">
            </form>    
                <br>
        </div>
    </div>
{% endblock %}