{# empty Twig template #}
{% extends "en/master.html.twig" %}

{% block title %} File upload successful{% endblock %}

{% block content %}
   <div id="bground" class="">
        <div id="bground-header">
            <a style="font-size: 20px; color: black; font-weight: bold">File uploaded.</a><br>
            <a href="/en/list" class="bground-button" style="float:right; margin-right: 20px; margin-top: 0px">
                File List
            </a>
        </div>
    </div>
{% endblock %}