{# empty Twig template #}
{% extends "fr/master.html.twig" %}

{% block title %} Téléchargez le fichier réussie{% endblock %}

{% block content %}
    
   Fichier téléchargé.<a href="/fr/list">List</a>

{% endblock %}