{# WARNING: this template is for an email, not an HTML page #}
<html>
    <body>
        <h1>Demande de Réinitialisation de Mot de Passe</h1>
        <p>Bonjour,</p><br>
        <p>Vous avez demandé un mot de passe réinitialisé.</p>
        <p>Cliquez sur <a href="{{url}}"> ce lien</a> pour réinitialiser 
          votre mot de passe ou collez lien suivante dans un navigateur web.</p>
        <p>{{url}}</p>
    </body>
</html>
