{# empty Twig template #}
{% extends "fr/master.html.twig" %}

{% block title %}Erreur interne{% endblock %}

{% block content %}
    <h1>Erreur interne</h1>
    <img src="/media/ninja.png" width="150">
    <p>Nous sommes très Désolés, nous n’avons pas répondre à votre demande.
        Notre équipe de codage ninjas noirs a déjà été averti de votre mal.</p>
    <p><a href="fr/">Click here</a> à continuer</p>
    
    
{% endblock %}