{% extends "fr/page.html.twig" %}

{% block title %}Reset a échoué{% endblock %}

{% block content %}
    
<h1>Reset a échoué</h1>

<p>Jeton de réinitialisation de mot de passe n’existe pas ou a expiré.</p>
<p>Vous pouvez <a href="/fr/passreset">demander un nouveau jeton</a>.</p>

<a href="/fr/">Cliquez ici pour continuer!</a>

{% endblock %}
