{% extends "fr/page.html.twig" %}

{% block title %}Réussie{% endblock %}

{% block content %}
    
<h1>Mot de passe réinitialisé réussie</h1>

<a href="/fr/">Cliquez ici pour continuer</a>

{% endblock %}
