<!DOCTYPE html>
<html lang="fr">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registre réussie</title>
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="../frontpage/css/style.css">

    </head>

    <body>
        <div class="container" style="width:30%; margin:auto">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text">
                    <div class="form-box">
                        <div class="form-top"  style="border-radius: 4px; border:2px solid lightskyblue">
                            <h1 style="text-align:center; font-weight: bold; color: lightskyblue" >Registre réussie</h1>
                            <div>
                                <h3 style="text-align:center; color: lightskyblue">Vous pouvez</h3>
                                <a href="fr/Exit" style="float:left; padding: 5px 20px; font-size: 16px; border-radius: 4px; border:2px solid lightskyblue">
                                    Sortie
                                </a>
                                <a href="fr/login" style="float:right; padding:5px 20px; font-size: 16px; border-radius: 4px; border:2px solid lightskyblue">
                                    Ouverture de session
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


