{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %} User block status change successful{% endblock %}

{% block content %}
    
   User block status changed. <a href="/admin/list">User List</a>

{% endblock %}