{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %} User edit successful{% endblock %}

{% block content %}
    
   User edited. <a href="/admin/list">User List</a>

{% endblock %}