{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %} User delete {% endblock %}

{% block content %}
 
    <form method="post">
        User Name: <input type="text" name="name" value="{{u.name}}"><br>
        <input type="submit" value="Delete User">
    </form>    
 
{% endblock %}
