{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %} File download successful{% endblock %}

{% block content %}
    
   File download. <a href="/list">File List</a>

{% endblock %}