<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

    <head>
        <title>{% block title %} {% endblock %}</title>
        <meta name="description" content="free website template" />
        <meta name="keywords" content="enter your keywords here" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
        <link rel="stylesheet" type="text/css" href="../homepage/css/style.css" />
        <link href="../style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="../homepage/js/jquery.min.js"></script>
        <script type="text/javascript" src="../homepage/js/image_slide.js"></script>
        {% block head %}
        {% endblock %}
        <script type="text/javascript">
            (function ($) {
                $.fn.flash_message = function (options) {

                    options = $.extend({
                        text: 'Done',
                        time: 1000,
                        how: 'before',
                        class_name: ''
                    }, options);

                    return $(this).each(function () {
                        if ($(this).parent().find('.flash_message').get(0))
                            return;

                        var message = $('<span />', {
                            'class': 'flash_message ' + options.class_name,
                            text: options.text
                        }).hide().fadeIn('fast');

                        $(this)[options.how](message);

                        message.delay(options.time).fadeOut('normal', function () {
                            $(this).remove();
                        });

                    });
                };
            })(jQuery);
            
            window.onload=function(){
                var a = document.getElementsByClassName("add-item");
                a.onclick = function(){

                $('#status-area').flash_message({
                    text: 'Please logout first!',
                    how: 'append'
                });
            }
            }
            /*
            $('.add-item').click(function () {

                $('#status-area').flash_message({
                    text: 'Please logout first!',
                    how: 'append'
                });
            });*/
        </script>
    </head>

    <body>
        <div id="main">
            <div id="menubar">
                <ul id="menu">
                    <li class="current"><a href="/list">Home</a></li>
                    <li><a href="#">File</a></li>
                    <li><a href="/register" class="add-item">Register</a></li>
                    <li><a href="/login" class="add-item">Login</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                <img id="Logo" title="Logo" style="align-content: right" src="../homepage/images/logo.png" alt="" />
            </div><!--close menubar-->	
            <div id="status-area"></div>
            <div id="site_content">		

                <div class="sidebar_container">       
                    <div class="sidebar">
                        <div class="sidebar_item">
                            <h2 style="margin: 0 0 10px 0; font-size: 16px">Welcome, {{u.name}}</h2>
                            <img style="display: block" src="../homepage/images/homepage.png" alt="homepage">
                        </div><!--close sidebar_item--> 
                    </div><!--close sidebar-->     		
                </div><!--close sidebar_container-->	

                {% block content %}
                {% endblock %}
            </div><!--close site_content--> 
        </div><!--close main-->


        <!-- Footer -->
        <footer>
            <div class="container">
                <h2 class="copyright" style="text-align: center">John Abbott College © 2017</h2>
            </div>
        </footer>
    </body>
</html>

