<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

    <head>
        <title>{% block title %} {% endblock %}</title>
        <meta name="description" content="free website template" />
        <meta name="keywords" content="enter your keywords here" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
        <link rel="stylesheet" type="text/css" href="../homepage/css/style.css" />
        <link href="../style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="../homepage/js/jquery.min.js"></script>
        <script type="text/javascript" src="../homepage/js/image_slide.js"></script>
        {% block head %}
        {% endblock %}

        <style>
            .vertical-menu {
                width: 140px; /* Set a width if you like */
                border-radius: 10px
            }

            .vertical-menu a {
                background-color: #eee; /* Grey background color */
                color: black; /* Black text color */
                display: block; /* Make the links appear below each other */
                padding: 15px; /* Add some padding */
                text-decoration: none; /* Remove underline from links */
            }

            .vertical-menu a:hover {
                background-color: #ccc; /* Dark grey background on mouse-over */
            }

            .vertical-menu a.active {
                background-color: blue; /* Add a green color to the "active/current" link */
                color: white;
            }
        </style>
    </head>

    <body>
        <div id="main">
            <div id="menubar">
                <ul id="menu">
                    <li class="current"><a href="/list">Home</a></li>
                    <li><a href="/logout" onclick="return confirm('You have to logout first.')" class="confirmation">Register</a></li>
                    <li><a href="/logout" onclick="return confirm('You have to logout first.')" class="confirmation">Login</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/fr/list" style="float: right">FR</a></li>
                </ul>
                <img id="Logo" title="Logo" style="align-content: right" src="../homepage/images/logo.png" alt="" />
            </div><!--close menubar-->	
            <div id="status-area"></div>
            <div id="site_content">		

                <div class="sidebar_container">       
                    <div class="sidebar">
                        <div class="sidebar_item">
                            <h2 style="margin: 0 0 10px 0; font-size: 16px">Welcome, {{u.name}}</h2>
                            <!--                            <img style="display: block" src="../homepage/images/homepage.png" alt="homepage">-->
                            <div class="vertical-menu" style="border-radius: 10px">
                                <a href="#" class="active">Home</a>
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                                <a href="#">Link 4</a>
                                <a href="#">Link 5</a>
                                <a href="#">Link 6</a>
                                <a href="#">Link 7</a>
                                <a href="#">Link 8</a>
                                <a href="#">Link 9</a>
                                <a href="#">Link 10</a>
                         </div>
                        </div><!--close sidebar_item--> 
                    </div><!--close sidebar-->     		
                </div><!--close sidebar_container-->	

                {% block content %}
                {% endblock %}
            </div><!--close site_content--> 
        </div><!--close main-->


        <!-- Footer -->
        <footer>
            <div class="container">
                <h2 class="copyright" style="text-align: center">John Abbott College © 2017</h2>
            </div>
        </footer>
    </body>
</html>

